<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="body" style="margin: 0;padding: 0;display: flex;justify-content: center;align-items: center;min-height: 100vh;">  

    <div class="box" style="text-align: center;">
        <h1 style="font-size: 60px;margin-bottom: 30px;">YOU ARE LOGGED OUT</h1>
        <p style="font-size: 30px;margin-bottom: 30px;">Please Subscribe My Furn Website</p>
        <div class="flex" style="display: flex;">
            <button class="btn btn-outline-danger" style="font-size: 30px;margin-left: 120px;"><a href="/signup"       style="text-decoration: none;color: black;">
                Signup</a></button>
                <button class="btn btn-outline-danger" style="font-size: 30px;margin-left: 30px;"><a href="/"    style="text-decoration: none;color: black;">Home</a></button>
            <button class="btn btn-outline-danger" style="font-size: 30px;margin-left: 30px;"><a  href="/login"  style="text-decoration: none;color: black;">Login</a></button>
        </div>
    </div>


</div>
    <!-- <div class="box" style="width: 400px;height: 400px;background-color: blue;display: flex;">
        <h1 style="font-size: 30px;color: white;">Logout</h1>
        <p>confirm exit?</p>
    </div> -->
<script>
    let logout = document.querySelector('.logout')

    
</script>